<div class="container">
  <h1><%= @list.name %></h1>

    <div class="row">
      <% @list.bookmarks.each do |bookmark| %>
        <strong><%= bookmark.comment %></strong>
        <p><%= bookmark.movie.title %></p>
      <% end %>
    </div>

  <div class="col-6">
      <%= simple_form_for [@list, @bookmark] do |f| %>
          <%= f.input :comment %>
          <%= f.association :movie %>
          <%= f.submit "Add bookmark", class: 'btn btn-primary'%>
      <% end %>
  </div>

  <%= link_to lists_path do %>
    <p><i class="fa-solid fa-rotate-left mt-3"></i>Back to lists</p>
  <% end %>
</div>
